# ==============================================
# Trust Estate - Environment Variables
# ==============================================
IP=127.0.0.1
PORT_AUTH_SERVICE=3001
PORT_AUTH_RESERVATION=3003
COOKIE_SECRET=YOUR_SECRET_HERE
FRONTEND_URL=https://${IP}.nip.io:8443
VITE_FRONTEND_URL=${FRONTEND_URL}

# Internal Service Communication URLs (Docker Network)
AUTH_SERVICE_URL=http://auth-service:3001
LISTINGS_SERVICE_URL=http://listings-service:3002
RESERVATIONS_SERVICE_URL=http://reservations-service:3003
RESERVATION_SERVICE_URL=http://reservations-service:3003
CREDITS_SERVICE_URL=http://credits-service:3004
AI_SERVICE_URL=http://ai-service:3005

JWT_SECRET_PRIVATE_KEY=../../secret/jwtTokenService/jwt_auth_private.key
JWT_SECRET_PUBLIC_KEY=../../secret/jwtTokenService/jwt_auth_public.pem

# ==============================================
# DATABASE
# ==============================================
POSTGRES_USER=trustestate
POSTGRES_PASSWORD=trustestate_secret
POSTGRES_DB=trustestate
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# ==============================================
# AUTH SERVICE - JWT & OAuth
# ==============================================
JWT_REFRESH_SECRET=YOUR_REFRESH_SECRET_HERE
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
REDIRECT_URI=https://${IP}.nip.io:8443/api/auth/google/callback
AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
TOKEN_URL=https://oauth2.googleapis.com/token
USER_INFO_URL=https://www.googleapis.com/oauth2/v2/userinfo

# ==============================================
# AUTH SERVICE - Email (Gmail)
# ==============================================
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-app-password

# ==============================================
# AI & LLM CONFIGURATION
# ==============================================
#=========== Groq models ===============
LLM_API_KEY=your_api_key_here
LLM_API_URL=https://integrate.api.nvidia.com/v1/chat/completions
LLM_MODEL=google/gemma-3-27b-it

#======== Chromadb config =========
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2

# ==============================================
# INTERNAL SECURITY
# ==============================================
INTERNAL_KEY_SECRET=YOUR_INTERNAL_KEY_SECRET_HERE
